.cover{
    background-image: url("/public/images/mountains.jpg");
    background-size: cover;
    height: 100vh;
    margin-top: -66px;
    position: relative;
    z-index: -1;
}

.cover .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.cover .intro-text h1{
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}

.cover .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
